.loginOutIcons{
    margin-left: 5px;
    margin-right: 5px;
    background-color: gray;
    position: relative;
    left: 5px;
}

.testing{
    position: relative;
    left: 5px;
}
.SecondSection{
    display: flex;
}
.newEvent{
    border: none;
}