.titleEvent{
background-color: whitesmoke;
font-size: x-large;
font-weight: bold;
border-radius: 5px;
margin-top: 5px;
margin-bottom: 5px;
padding: 10px;
text-align: left;
text-transform: capitalize;
position: relative;
left: -20px;
border-bottom: 2px solid gray;
cursor: pointer;
transition: 0.3s;
}
.titleEvent:hover{
    background-color: rgba(128, 128, 128, 0.47);
    color: white;
    border-bottom-color: white;
}
ul{
    list-style: none;
}